# Dependencies
*.pyc
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
build/
dist/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# Data & Large Artifacts (Raw & Processed tracked via Git LFS)
!data/raw/dataset.arff
!data/processed/eda.csv
!data/README.md
outputs/predictions/*.csv
outputs/submissions/*.csv

# System
.DS_Store
Thumbs.db

# Logs
logs/*
!logs/.gitkeep
catboost_info/
